mixin sDay()
	// start sDay
	+b.SECTION.sDay.section#sDay&attributes(attributes)
		.container
			+b.section-title(class="wow  animate__fadeInUp "   )
				h2 В рамках каждого тематического дня:
			.row
				mixin item(t,p,i)
					+e.col.col-xl-4.col-md-6(class="wow  animate__bounceInUp "  data-wow-delay=`${.2 + i * 0.2}s` )
						+e.item
							+e.title!= t
							p!= p
					// /+e.col.col-xl-4.col-md-6
				+item(`Деловая программа`,`Диалог и&nbsp;взаимодействие между участниками в&nbsp;контексте целей Форума, совместная генерация инициатив, профессиональное и&nbsp;личностное развитие каждого участника.`,'1')
				+item(`Главная медийная встреча дня`,`Дискуссия, TED Talks, интервью и&nbsp;ток-шоу с&nbsp;приглашенными гостями по&nbsp;основной теме дня, освещение актуальной общемировой повестки`,'2')
				+item(`Тематические лаболатории`,`&laquo;Сообщества&raquo;, &laquo;Международное сотрудничество&raquo;, &laquo;Устойчивые проекты&raquo;, &laquo;Креативна экономика&raquo;`,'3')
				+item(`Площадки партнеров и&nbsp;площадки soft-skills компетенций`,`Встречи с&nbsp;экспертами, мастер-классы, тренинги осознанности, школы мышления`,'4')
				+item(`ПРОГРАММА 2.0`,`Профессиональные, культурные, тематические активности, создающиеся участниками для участников`,'5')
				+item(`Технологический нетворкинг`,`Возможность получить материалы тематических площадок, возможность быстрого обмена контактами, международные голосования на&nbsp;главных медийных встречах`,'6')
	// end sDay