
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-thanks" class=" " style="display: none" ) 
			.text-center
				.h2.strong Cпасибо за ваше сообщение, 
				p мы ответим вам ближайшее время
	// #modal-thanks
	
	+b.modal-win(id="modal-text" class=" " style="display: none" )
		p Со&nbsp;2&nbsp;по&nbsp;8&nbsp;сентября 2020 года в&nbsp;Оренбурге состоится юбилейный Международный молодежный форум &laquo;Евразия Global&raquo;. Мероприятие пройдет в&nbsp;пятый раз и&nbsp;соберет российскую, иностранную молодежь, а&nbsp;также молодых соотечественников, проживающих за&nbsp;рубежом. Форум впервые проводится под эгидой ЮНЕСКО.
		p Всего ожидается 800 участников со&nbsp;всего мира. Качественную работу помогут организовать 200 волонтеров со&nbsp;всего мира. 
		p В&nbsp;связи со&nbsp;сложившейся ситуацией в&nbsp;мире обучение и&nbsp;взаимодействие на&nbsp;Форуме будет зависеть от&nbsp;эпидемиологической обстановки. В&nbsp;течение всего Форума обязательное соблюдение мер профилактики коронавирусной инфекции каждого находящегося на&nbsp;площадке.
		p #[em &laquo;Из&nbsp;года в&nbsp;год форум набирает обороты, вовлекая в&nbsp;свою работу участников, задействованных в&nbsp;различных сферах деятельности. Сегодня молодежь понимает, что решать вызовы, возникающие в&nbsp;мировом сообществе, необходимо сообща, ведя непрерывный диалог. В&nbsp;этом году форум &bdquo;Евразия Global&ldquo; отметит свой первый юбилей и&nbsp;пройдет под эгидой ЮНЕСКО. Отрадно, что Организация Объединенных Наций по&nbsp;вопросам образования, науки и&nbsp;культуры признает высокую социальную значимость Форума в&nbsp;рамках развития молодежных инициатив, международного молодежного диалога, а&nbsp;также углубления взаимопонимания между молодежью. В&nbsp;связи со&nbsp;сложившейся ситуацией мы&nbsp;сделаем все, что зависит от&nbsp;нас, чтобы молодежь со&nbsp;всего мира смогла обсудить&nbsp;то, что волнует молодое поколение, выстроить продуктивный диалог и&nbsp;горизонтальные связи для взаимодействия в&nbsp;будущем&raquo;,&nbsp;]&mdash; поделился руководитель Росмолодежи #[strong Александр Бугаев].
		p В&nbsp;рамках Форума запланированы деловая программа, медийные встречи, обсуждение актуальных тем в&nbsp;мире, взаимодействие между представителями стран, генерации совместных инициатив профессионального и&nbsp;личностного развития. Одна из&nbsp;особенностей Форума&nbsp;&mdash; Программа&nbsp;2.0. &mdash;&nbsp;это активности, созданные самими участниками для участников. Для молодежи также запланирована масштабная культурная программа.
		p В&nbsp;год 75-летия Победы в&nbsp;Великой Отечественной войне предусмотрены мероприятия, посвященные этому событию в&nbsp;знаковых исторических местах Оренбургской области.
		p Цель проведения форума &laquo;Евразия Global&raquo;&nbsp;&mdash; развитие площадки практико-ориентированного диалога представителей стран.
		p Отметим, впервые Форум прошел в&nbsp;2016 году в&nbsp;Оренбурге по&nbsp;инициативе правительства Оренбургской области, поддержанной Президентом России Владимиром Путиным. В&nbsp;2017 году он&nbsp;стал площадкой XIX Всемирного фестиваля молодежи и&nbsp;студентов в&nbsp;Сочи, а&nbsp;в&nbsp;2018 снова прошел на&nbsp;территории Оренбурга. Форум проводится в&nbsp;пятый раз и&nbsp;входит в&nbsp;число семи форумных площадок, за&nbsp;которыми закреплен статус федеральных по&nbsp;поручению Президента Российской Федерации. 
		p Организаторами Форума выступят Федеральное агентство по&nbsp;делам молодежи, Правительство Оренбургской области, Федеральное государственное бюджетное учреждение &laquo;Ресурсный Молодежный Центр&raquo;.
	// #modal-call
	
	// end modals