mixin sMembers()
	// start sMembers
	+b.SECTION.sMembers.section#sMembers&attributes(attributes)
		+e.line--slim(class="wow  animate__fadeInRight "  )
			svg(width='1920', height='1314', viewBox='0 0 1920 1314', fill='none', xmlns='http://www.w3.org/2000/svg'  preserveAspectRatio="none")
				path(d='M-52 1313.21L422.214 839.149C442.521 818.848 475.415 818.878 495.721 839.178L595.579 939.007C615.22 958.642 647.064 958.642 666.704 939.007L1122.02 483.823C1142.33 463.522 1175.25 463.522 1195.56 483.823L1292.86 581.096C1312.5 600.73 1344.34 600.73 1363.98 581.096L2023.62 -69', stroke='#39B081')
				path(d='M-89 1313.21L385.214 839.149C405.521 818.848 438.415 818.878 458.721 839.178L558.579 939.007C578.22 958.642 610.064 958.642 629.704 939.007L1085.02 483.823C1105.33 463.522 1138.25 463.522 1158.56 483.823L1255.86 581.096C1275.5 600.73 1307.34 600.73 1326.98 581.096L1986.62 -69', stroke='#39B081')
				path(d='M-9 1313.21L465.214 839.149C485.521 818.848 518.415 818.878 538.721 839.178L638.579 939.007C658.22 958.642 690.064 958.642 709.704 939.007L1165.02 483.823C1185.33 463.522 1218.25 463.522 1238.56 483.823L1335.86 581.096C1355.5 600.73 1387.34 600.73 1406.98 581.096L2066.62 -69', stroke='#39B081')
		.container
				
			.row
				.col-lg-6
					+b.section-title
						h2(class="wow  animate__fadeInUp "  )   участники
						p(class="wow  animate__fadeInUp "  ) Международный молодежный образовательный форум &laquo;Евразия Global&raquo; нацелен на&nbsp;создание площадки для практико&mdash;ориентированного диалога молодых представителей Российской Федерации и&nbsp;иностранных государств.
				.col
					ul
						li(class="wow  animate__slideInRight "  ) #[strong молодые лидеры общественного мнения] из&nbsp;России и&nbsp;зарубежных стран
						li(class="wow  animate__slideInRight "  ) #[strong молодые специалисты и&nbsp;профессионалы], осуществляющие свою деятельность в&nbsp;сфере международного молодежного сотрудничества
						li(class="wow  animate__slideInRight "  ) #[strong представители иностранной молодежи], заинтересованные в&nbsp;активном взаимодействии и&nbsp;сотрудничестве с&nbsp;российской молодежью
						li(class="wow  animate__slideInRight "  ) #[strong молодые российские соотечественники]
						li(class="wow  animate__slideInRight "  ) #[strong молодые люди, имеющие идею проекта или готовый проект], с&nbsp;прицелом на&nbsp;международное сотрудничество
	// end sMembers