mixin sGal()
	// start sGal
	+b.sGal.section(class="wow  animate__fadeInUp "  )#sGal&attributes(attributes)
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 1; x < 6; x++)
						+e.slide.swiper-slide
							+e.img-wrap(href=`img/@2x/slide-${x}.jpg` data-fancybox="galTop")
								picture
									source.swiper-lazy(srcset="#" data-srcset=`img/@1x/webp/slide-${x}.webp` type="image/webp")
									img.swiper-lazy(src="#" data-src=`img/@1x/slide-${x}.jpg`, alt="")
	// end sGal