mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock.section&attributes(attributes)
		.container
			
			+e.content
				div(class="wow  animate__fadeInLeft ")
					h1 Международный молодежный форум &laquo;Евразия Global&raquo;
					p Международный молодежный форум &laquo;Евразия Global&raquo; пройдёт с&nbsp;02&nbsp;по&nbsp;08&nbsp;сентября 2020 года в&nbsp;Оренбургской области
					+btnLink('Узнать больше')
				+e.img-wrap(class="wow  animate__fadeInRight "  data-wow-delay="1.6s")
					+pic('head-img.png')
	// end headerBlock