mixin sForMedia()
	// start sForMedia
	+b.sForMedia.pt-0.section#sForMedia&attributes(attributes)
		.container 
			.row
				.col-5
					+e.block-left(class="wow  animate__fadeInUp "   )
						h3.strong.text-primary Аккредитация СМИ
						p: strong Правила работы представителей СМИ на&nbsp;Международном молодежном форуме &laquo;Евразия Global&raquo; в&nbsp;2020 году
						p В&nbsp;связи с&nbsp;особой эпидемиологической обстановкой в&nbsp;Российской Федерации, а&nbsp;также руководствуясь рекомендациями Роспотребнадзора, просим соблюдать простые правила: носить маски и&nbsp;перчатки на&nbsp;территории форума, а&nbsp;также соблюдать дистанцию 1,5&nbsp;метра.

						p Также будет соблюден контроль температуры в&nbsp;качестве меры по&nbsp;предупреждению распространения коронавируса.

						p В&nbsp;случае вашего неприбытия на&nbsp;форум, пресс-служба готова предоставить всю необходимую информацию в&nbsp;электронном виде (фото, видео, пресс-релизы, пост-релизы).


						p При нахождении на&nbsp;территории форума необходимо соблюдать #[a(href="https://www.rospotrebnadzor.ru/about/info/news_time/news_details.php?ELEMENT_ID=13566" target="_blank") профилактические меры] (#[a(href="https://www.rospotrebnadzor.ru/about/info/news_time/news_details.php?ELEMENT_ID=13566" target="_blank") https://www.rospotrebnadzor.ru/about/info/news_time/news_details.php?ELEMENT_ID=13566]) и&nbsp;придерживаться всех правил форума.

						h4.text-primary Аккредитация СМИ

						p Для работы на&nbsp;Международном молодежном форуме &laquo;Евразия Global&raquo; необходимо быть аккредитованным пресс-службой форума.

						p Для участия в&nbsp;мероприятии представителям СМИ (или их&nbsp;редакциям) необходимо #[a(href="https://yadi.sk/i/iK4ULfiaS5aDHA" target="_blank") скачать форму] ( #[a(href="https://yadi.sk/i/iK4ULfiaS5aDHA" target="_blank") https://yadi.sk/i/IbbghIVKk1cFJA] ), заполнить ее&nbsp;и&nbsp;отправить на&nbsp;эл.адрес #[a(href="mailto:eurasiaglobal.press@fadm.gov.ru") eurasiaglobal.press@fadm.gov.ru] . Форму необходимо заполнить на&nbsp;каждого представителя СМИ и&nbsp;сотрудника, пребывающего на&nbsp;территории (включая технический персонал, водителей, ассистентов).

						p: strong Без аккредитации вход на&nbsp;территорию форума запрещен.

						p: strong Заполнение данной заявки необходимо осуществить не&nbsp;позднее чем за&nbsp;72&nbsp;часа до&nbsp;прибытия на&nbsp;форум.

						p Все вопросы касательно аккредитации можно отправлять на&nbsp;#[a(href="mailto:eurasiaglobal.press@fadm.gov.ru") eurasiaglobal.press@fadm.gov.ru] Для корреспондентов ТВ-каналов: укажите номер и&nbsp;марку автомобиля для проезда на&nbsp;территорию форума. Просим учесть, что водитель также получает аккредитацию. Если вы&nbsp;указываете марку и&nbsp;номер автомобиля в&nbsp;данной форме, то&nbsp;она должна быть заполнена на&nbsp;водителя.
						h4.text-primary Контактные данные для представителей СМИ
						 
						+e.text Специалист по&nbsp;работе со&nbsp;СМИ пресс-службы Международного молодежного форума &laquo;Евразия Global&raquo;
						+b.person-item
							img(src="img/@2x/pers-1.jpg", alt="")
							div
								+e.name Анастасия Потычкина
								+e.tel(href="tel:+7(926)278-32-93") +7(926) 278-32-93
								
						+e.text Руководитель пресс-службы форума
						+b.person-item
							img(src="img/@2x/pers-2.jpg", alt="")
							div
								+e.name Азалия Газеева
								+e.tel(href="tel:+7(916)762-51-34") +7 (916) 762-51-34
						p: strong Мы будем рады ответить на все вопросы и сориентировать вас!
				.col
					+e.block(class="wow  animate__fadeInUp "   )
						p.strong.text-primary Для получения аккредитации:
						ul
							li российским журналистам необходимо обладать удостоверением журналиста и&nbsp;находиться в&nbsp;штате зарегистрированного при Роскомнадзоре СМИ;
							li иностранным журналистам необходимо обладать аккредитацией при МИД РФ.
							li Для прохода на&nbsp;Международный молодежный форум &laquo;Евразия Global&raquo; аккредитованным пресс-службой форума представителям СМИ необходимо иметь при себе:
							li российские СМИ&nbsp;&mdash; паспорт и&nbsp;удостоверение журналиста;
							li иностранные СМИ&nbsp;&mdash; паспорт и&nbsp;аккредитацию МИД РФ.
							li При проходе на&nbsp;территорию форума осуществляется проверка безопасности, предусматривающая как личный досмотр, так и&nbsp;досмотр личных вещей и&nbsp;оборудования.
							li Нахождение на&nbsp;территории форума возможно при наличии бейджа, выданного организаторами форума.
							li Пресс-служба Форума вправе самостоятельно определять необходимые документы для подтверждения аккредитации, а&nbsp;также устанавливать необходимые сроки для принятия решения. Пресс-служба Форума вправе отказать в&nbsp;аккредитации без объяснения причин.
			.row
				mixin item(t)
					+e.col.col-lg-6(class="wow  animate__fadeInUp "   )
						+e.item
							h4.strong.text-primary!= t
							block
					// /+e.col.col-lg-6
				+item("Подписка на обновления сайта Международного молодежного форума «Евразия Global»")
					p Вы&nbsp;можете подписаться на&nbsp;ежедневную тематическую рассылку, отправив запрос на&nbsp;эл.адрес: eurasiayouthforum@gmail.com

					p Для включения в&nbsp;базу рассылки необходимо направить запрос на&nbsp;электронную почту, указав в&nbsp;теле письма название СМИ, регион, сайт издания, имя представителя СМИ, его сотовый телефон, а&nbsp;также должность отправителя запроса и&nbsp;адрес почты для рассылки.
					p В&nbsp;теме письма указать: &laquo;Запрос на&nbsp;рассылку&raquo;.
				+item("Использование фотоматериалов пресс-службы форума")
					p Банк фотографий высокого разрешения доступен по&nbsp;отдельному запросу на&nbsp;адрес: eurasiayouthforum@gmail.com

					p В&nbsp;теме письма указать: &laquo;Запрос на&nbsp;фото&raquo;.
					p Фотоматериалы форума также обновляются в&nbsp;ежедневном формате и&nbsp;доступны на&nbsp;сайте forumeurasia.ru
				+item("Запрос на предоставление информации о делегациях регионов")
					p Представители региональных телеканалов могут направить запрос в&nbsp;пресс-службу форума на&nbsp;электронную почту eurasiayouthforum@gmail.com о&nbsp;предоставлении видеоматериалов о&nbsp;делегации города или региона для включения материала в&nbsp;ротацию новостных выпусков.

					p Срок и&nbsp;техническое задание предоставления материалов оговаривается по&nbsp;каждому запросу отдельно.
					p В&nbsp;теме письма указать &laquo;Запрос видеоматериала&raquo;.
					p Требования к&nbsp;телеканалам: наличие официального свидетельства о&nbsp;регистрации СМИ.
				+item("Запрос на комментарий спикера форума")
					p Запрос на&nbsp;предоставление комментария спикера форума направляется на&nbsp;электронную почту eurasiayouthforum@gmail.com.

					p В&nbsp;теле письма указывается название СМИ, регион, сайт СМИ, имя спикера, тематика готовящегося материала, сам вопрос, а&nbsp;также имя, мобильный телефон и&nbsp;должность отправителя запроса.
					p В&nbsp;теме письма указать &laquo;Запрос комментария спикера&raquo;
	// end sForMedia