mixin sAbout()
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				h2(class="wow  animate__fadeInUp "  ) О форуме «Евразия Global»
				p(class="wow  animate__fadeInUp "  ) Пятый юбилейный Международный молодежный форум &laquo;Евразия Global&raquo; является площадкой для практико-ориентированного диалога молодых представителей Российской Федерации и&nbsp;иностранных государств. В&nbsp;2020 году форум пройдет под эгидой ЮНЕСКО.
				//- , а&nbsp;участниками события станут 400 представителей молодежи Российской Федерации и&nbsp;400 молодых граждан иностранных государств.
		+e.video(href="https://www.youtube.com/watch?v=p1BX1K7r0dU" data-fancybox="video"  class="wow  animate__fadeInUp "   ).bg-wrap
			+pic("video.jpg",'bg')(class="picture-bg")
			//- picture.picture-bg
			//- 	img.object-fit-js.lazy(src="#" data-src="http://img.youtube.com/vi/p1BX1K7r0dU/default.jpg", alt="")
			+e.DIV.play
			+e.title Как это было в 2019 году
	// end sAbout