extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sGal/_sGal.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sDay/_sDay.pug 
include ../blocks/sMembers/_sMembers.pug 
include ../blocks/sCards/_sCards.pug 
include ../blocks/sLogos/_sLogos.pug  
include ../blocks/sForm/_sForm.pug  
include ../blocks/sNews/_sNews.pug  
block variables
	- let  mainPage= null
block title
	- let  title= 'Форум Евразия Global 2020'
	title= title
block pagecontent 
	//- +mob-mnu()

	+e.line--gradient: div(class="wow  animate__slideInRight"   )
		svg(width='1920', height='2172', viewBox='0 0 1920 2172', fill='none', xmlns='http://www.w3.org/2000/svg'  preserveAspectRatio="none")
			path(d='M341.842 997.37C364.146 975.074 400.274 975.108 422.577 997.402L532.254 1107.04C553.826 1128.6 588.8 1128.6 610.372 1107.04L1110.46 607.135C1132.76 584.84 1168.92 584.84 1191.23 607.135L1298.09 713.964C1319.67 735.528 1354.64 735.528 1376.21 713.964L2100.7 0V653.37L1376.21 1367.33C1354.64 1388.9 1319.67 1388.9 1298.09 1367.34L1191.23 1260.51C1168.92 1238.21 1132.76 1238.21 1110.46 1260.51L610.372 1760.41C588.8 1781.97 553.826 1781.97 532.254 1760.41L422.577 1650.77C400.274 1628.48 364.146 1628.45 341.842 1650.74L-179 2171.37V1518L341.842 997.37Z', fill='url(#paint0_linear)')
			defs
				lineargradient#paint0_linear(x1='960.852', y1='-32.6301', x2='960.852', y2='2281.24', gradientUnits='userSpaceOnUse')
					stop(offset="0" stop-color='#39B081')
					stop(offset='1', stop-color='#0066FF')

	+e.line--default: div(class="wow  animate__slideInLeft"  data-wow-delay=".6s")
		svg(width='1920', height='1908', viewBox='0 0 1920 1908', fill='none', xmlns='http://www.w3.org/2000/svg'  preserveAspectRatio="none")
			path(fill-rule='evenodd', clip-rule='evenodd', d='M1184.5 1102L-1005 1657V1907.99L-122.016 1025.02C-88.9217 991.924 -35.3139 991.973 -2.22156 1025.07L160.519 1187.8C192.527 1219.81 244.423 1219.81 276.432 1187.8L1018.47 445.78C1051.56 412.687 1105.22 412.687 1138.31 445.78L1296.88 604.35C1328.89 636.358 1380.79 636.358 1412.79 604.35L2692 -675L1184.5 1102Z', fill='#0066FF')


	+e.line--slim: div(class="wow  animate__slideInRight"  data-wow-delay="1s")
		svg(width='1920', height='1314', viewBox='0 0 1920 1314', fill='none', xmlns='http://www.w3.org/2000/svg'  preserveAspectRatio="none")
			path(d='M-52 1313.21L422.214 839.149C442.521 818.848 475.415 818.878 495.721 839.178L595.579 939.007C615.22 958.642 647.064 958.642 666.704 939.007L1122.02 483.823C1142.33 463.522 1175.25 463.522 1195.56 483.823L1292.86 581.096C1312.5 600.73 1344.34 600.73 1363.98 581.096L2023.62 -69', stroke='#39B081')
			path(d='M-89 1313.21L385.214 839.149C405.521 818.848 438.415 818.878 458.721 839.178L558.579 939.007C578.22 958.642 610.064 958.642 629.704 939.007L1085.02 483.823C1105.33 463.522 1138.25 463.522 1158.56 483.823L1255.86 581.096C1275.5 600.73 1307.34 600.73 1326.98 581.096L1986.62 -69', stroke='#39B081')
			path(d='M-9 1313.21L465.214 839.149C485.521 818.848 518.415 818.878 538.721 839.178L638.579 939.007C658.22 958.642 690.064 958.642 709.704 939.007L1165.02 483.823C1185.33 463.522 1218.25 463.522 1238.56 483.823L1335.86 581.096C1355.5 600.73 1387.34 600.73 1406.98 581.096L2066.62 -69', stroke='#39B081')
	//- +b.animate-items
	- for (var x = 1; x < 13; x++)
		+b.animate-item(class=`animate-item--${x}`  id=`animate-item--${x}`): img(src=`img/svg/el-${x}.svg`, alt="")
	+header() 
		+top-nav() 
	+headerBlock()

	+sGal
	+sAbout
	+sDay
	+sMembers
	+sCards
	+sLogos
	+sNews
	+sForm
	+footer()
	