extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sGal/_sGal.pug 
include ../blocks/sAbout/_sAbout.pug 
include ../blocks/sDay/_sDay.pug 
include ../blocks/sMembers/_sMembers.pug 
include ../blocks/sCards/_sCards.pug 
include ../blocks/sLogos/_sLogos.pug  
include ../blocks/sForm/_sForm.pug  
include ../blocks/sNews/_sNews.pug  
block variables
	- let  mainPage= null
block title
	- let  title= 'Форум Евразия Global 2020'
	title= title
block pagecontent 
	//- +mob-mnu()
	//- //- +b.animate-items
	//- - for (var x = 1; x < 13; x++)
	//- 	+b.animate-item(class=`animate-item--${x}`  id=`animate-item--${x}`): img(src=`img/svg/el-${x}.svg`, alt="")
	+header() 
		+top-nav() 
	+b.page-head.section
		.container
			h1 Открылась регистрация на онлайн-форум «Евразия Global»
	.section.pt-0
		.container
			+pic('IMG_20200810_093129_648')(class="mb-3")
			.h5 10&nbsp;августа стартует регистрация участников на&nbsp;онлайн-формат Международного молодежного форума &laquo;ЕвразияGlobal&raquo;. Он&nbsp;будет реализовываться со&nbsp;2&nbsp;по&nbsp;7&nbsp;сентября, а&nbsp;офлайн-форум пройдет со&nbsp;2&nbsp;по&nbsp;8&nbsp;сентября в&nbsp;Оренбурге.

			.h5 Участниками онлайн-форума могут стать специалисты, осуществляющие свою деятельность в&nbsp;сфере международного молодежного сотрудничества, молодежные лидеры, молодые иностранцы, заинтересованные во&nbsp;взаимодействии и&nbsp;сотрудничестве с&nbsp;российской молодежью в&nbsp;возрасте от&nbsp;18&nbsp;до&nbsp;30&nbsp;лет (до&nbsp;35&nbsp;летдля иностранных участников). 

			.h5 Зарегистрированному участнику будут открыты все возможности офлайн-форума: голосования, дискуссии, общение с&nbsp;другими форумчанами, участие в&nbsp;деловой программе, Программе&nbsp;2.0 и&nbsp;других активностях.

			.h5 Регистрация проходит в&nbsp;АИС &laquo;Молодежь России&raquo; по&nbsp;ссылке: #[a(href="https://myrosmol.ru/event/48517") https://myrosmol.ru/event/48517] и&nbsp;завершится 23&nbsp;августа.

			.h5 Цель онлайн-форума&nbsp;&mdash; интеграция российских, зарубежных спикеров и&nbsp;участников, включение в&nbsp;работупредставителей большого количества стран, предоставление возможности тем, кто не&nbsp;смог принять участие в&nbsp;мероприятиях основной программы, стать частью международного события.

			.h5 Участники смогут практиковаться под чутким руководством профессионалов международного масштаба в&nbsp;онлайн-воркшопах и&nbsp;получить от&nbsp;специалистов необходимые консультации.Им будут доступны трансляции медийных встреч: дискуссий, TED Talks, интервью и&nbsp;ток-шоу с&nbsp;приглашенными гостями по&nbsp;основной теме дня. А&nbsp;также панельные дискуссии с&nbsp;известными руководителями и&nbsp;общественными деятелями из&nbsp;России, Германии, Италии, Нидерландов, Египта, Великобритании и&nbsp;других стран, представителями таких компаний, как &laquo;Viber&raquo;, &laquo;TildaPublisher&raquo; и&nbsp;других. Участники смогут удаленно поработать влабораторияхвсех четырех направлений &laquo;Сообщества&raquo;, &laquo;Международное сотрудничество&raquo;, &laquo;Устойчивые проекты&raquo;, &laquo;Креативная экономика&raquo;. А&nbsp;участие в&nbsp;нетворкинг-сессиях даст возможность форумчанам обменяться лучшими практиками, найти контакты и&nbsp;партнеров из&nbsp;других стран. Отдельная тема делового модуля онлайн-программы будет посвящена взаимодействию с&nbsp;молодыми соотечественниками, проживающими за&nbsp;рубежом. 

			.h5 В&nbsp;рамках Программы&nbsp;2.0, где участники готовят профессиональные, культурные и&nbsp;тематические активности для других участников, форумчанин из&nbsp;онлайн-формата сможет самостоятельно провести мастер-класс или воркшоп, а&nbsp;также поучаствовать в&nbsp;голосовании за&nbsp;лучшее выступление и&nbsp;повлиять на&nbsp;программу.

			.h5 Отметим, в&nbsp;этом году Форум отметит свой пятилетний юбилей и&nbsp;впервые пройдет под эгидой ЮНЕСКО. На&nbsp;своих площадках он&nbsp;соберет 500 участников и&nbsp;200&nbsp;волонтеров. 

			.h5 Международный молодежный форум &laquo;Евразия Global&raquo; входит в&nbsp;число семи форумных площадок, за&nbsp;которыми закреплен статус федеральных. Он&nbsp;проводится по&nbsp;инициативе правительства Оренбургской области, поддержанной Президентом России.

			.h5 Организаторами Форума выступают Правительство Оренбургской области, Федеральное агентство по&nbsp;делам молодежи и&nbsp;Федеральное государственное бюджетное учреждение &laquo;Ресурсный Молодежный Центр&raquo;.


			.h5 #ЕвразияGlobal #Евразия2020 #ресурсцентр #Росмолодежь #молодежьМира
	+sNews
	+sForm
	+footer()
	