mixin sCards()
	// start sCards
	+b.sCards.section#sCards&attributes(attributes)
		.container 
			.row
				mixin item(i,t)
					+e.col.col-lg-3.col-md-6(class="wow  animate__bounceInUp "  data-wow-delay=`${.2 + i * 0.2}s` )
						+e.item
							+e.img-wrap
								img.lazy(src="#" data-src=`img/svg/card-${i}.svg`, alt="")
							+e.title!= t
					// /+e.col.col-3
				+item(`1`,`Деловая программа`)
				+item(`2`,`Официальные события `)
				+item(`3`,`Пространство  для&nbsp;самовыражения и&nbsp;взаимодействия`)
				+item(`4`,`Культурная программа`)
			+e.btns.row
				.col-md-6(class="wow  animate__bounceInUp "    )
					+e.btn(href="#") 
						span среда для развития молодежи
				.col-md-6(class="wow  animate__bounceInUp "  data-wow-delay=`${.2}s` )
					+e.btn(href="#") 
						span практико-ориентированные коммуникативные площадки
	// end sCards